*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f7f7f7;
}
nav{
    font-family: "Poppins", sans-serif;

}
.stat{
    border: 1Px solid rgb(205, 205, 205);
    border-radius: 10px;
    overflow-y: scroll;

}
.box-presence{
    border: 1Px solid rgb(205, 205, 205);
    border-radius: 10px;
    overflow-y: scroll;

}
.box{
    border: 1Px solid rgb(205, 205, 205);
    border-radius: 10px;
    overflow-y: scroll;

}
.left, .right{
    border: 1Px solid rgb(205, 205, 205);
    border-radius: 10px;
    height: 300px;
    overflow-y: scroll;
}
.hyud{
    display: flex;
}
.navbar{
    box-shadow: 0 0 5px rgb(70, 113, 84);
}
.glass-nav {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.logo {
  height: 60px;
}
